{% extends "base.html" %}
{% block main %}
    <h1>tickers</h1>
    <a href="/tickers_create" role="botton">新規作成</a>　 編集：idクリック
    <table border="1" class="uk-table uk-table-hover uk-table-shrink">
        <thead>
        <tr>
            <th class="table-primary">id</th>
            <th class="table-primary">ticker</th>
            <th class="table-primary">stock_name</th>
            <th class="table-primary">purchase_format</th>
            <th class="table-primary">currency</th>
            <th class="table-primary">exchange</th>
            <th class="table-primary">create_time</th>
        </tr>
        </thead>
        
        {% for post in posts %}
        <tbody>
        <tr>
            <article>
            <td><a href="{{url_for('update_tickers',id=post.id)}}">{{ post.id }}</a></td>
            <td>{{ post.ticker }}</td>
            <td>{{ post.stock_name }}</td>
            <td>{{ post.purchase_format }}</td>
            <td>{{ post.currency }}</td>
            <td>{{ post.exchange }}</td>
            <td>{{ post.create_time }}</td>
            </article>
        </tr>
        </tbody>
        {% endfor %}    
    </table>
    
{% endblock %}




