{% extends "base.html" %}
{% block main %}
    <h1>tickers</h1>
    <a href="/tickers_create" role="botton">新規作成</a>
    <table border="1" class="table table-condensed">
        <tr>
            <th class="table-primary">id</th>
            <th class="table-primary">ticker</th>
            <th class="table-primary">stock_name</th>
            <th class="table-primary">purchase_format</th>
            <th class="table-primary">currency</th>
            <th class="table-primary">exchange</th>
            <th class="table-primary">create_time</th>
        </tr>
        <tr>
            {% for post in posts %}
            <article>
            <td>{{ post.id }}</td>
            <td>{{ post.ticker }}</td>
            <td>{{ post.stock_name }}</td>
            <td>{{ post.purchase_format }}</td>
            <td>{{ post.currency }}</td>
            <td>{{ post.exchange }}</td>
            <td>{{ post.create_time }}</td>
            </article>
        </tr>
    </table>
    {% endfor %}
{% endblock %}




