{% extends "base.html" %}
{% block main %}
    <h1>Ticker 新規登録</h1>

    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="/tickers_create">
    <dl>
    {{ render_field(form.ticker) }}
    {{ render_field(form.stock_name) }}
    {{ render_field(form.purchase_format) }}
    {{ render_field(form.currency) }}
    {{ render_field(form.exchange) }}
    </dl>
    <p><input type=submit value=Register>
    </form>

    <br>
    <a href="https://member.rakuten-sec.co.jp/app/info_us_prc_search.do;BV_SessionID=4E7677EE79328CC53CA26FD7DB44B3D7.f003e262?eventType=search">楽天証券で確認</a> 
    <br><br>    
    <img src="static/images/example_ticker_soxl.png">
{% endblock %}




