{% extends "base.html" %}
{% block main %}
    <h1>Ticker 編集</h1>

    {% from "_formhelpers.html" import render_field %}
    <form  class="form-group" method="POST">
    <dl>
    <div class="form-group">
    {{ render_field(form.ticker) }}
    </div>
    <div class="form-group">
    {{ render_field(form.stock_name) }}
    </div>
    <div class="form-group">
    {{ render_field(form.purchase_format) }}
    </div>
    <div class="form-group">
    {{ render_field(form.currency) }}
    </div>
    <div class="form-group">
    {{ render_field(form.exchange) }}
    </div>
    </dl>
    <div class="form-group">
    </div>
    <p><input type=submit value=Register class="uk-button-primary">
        <a class="uk-button-danger" href="{{ url_for('delete_tickers', id=id)}}">Delete</a>
    </form>

    <br>
    <a href="https://member.rakuten-sec.co.jp/app/info_us_prc_search.do;BV_SessionID=4E7677EE79328CC53CA26FD7DB44B3D7.f003e262?eventType=search">楽天証券で確認</a> 
    <br><br>    
    <img src="static/images/example_ticker_soxl.png">
{% endblock %}




