{% extends "base.html" %}

{% block main %}
{% from "_formhelpers.html" import render_field %}
<form method="POST" action="/test_html">
    <dl>
    
    {{ render_field(form.stock_name) }}
    {{ render_field(form.ticker) }}
    {{ render_field(form.purchase_format) }}
    {{ render_field(form.currency) }}
    {{ render_field(form.exchange) }}
    </dl>
    <p><input type=submit value=Register>
  </form>


<table border=0>
    <tr>
        <td>
            <label for="stock_name">stock_name (ex:SOXL / Direxion デイリー 半導体株 ブル 3倍 ETF)</label>
            </td> <td>
            <input type="text" name="stock_name">
        </td>
    </tr>
    <tr>
        <td>
            <label for="ticker">ticker (ex:SOXL)</label>
        </td> <td>
            <input type="text" name="ticker">
        </td>
    </tr>
    <tr>
        <td>
            <label for="purchase_format">purchase_format (ex:ETF) </label>
        </td> <td>
            <input type="text" name="purchase_format">
        </td>
    </tr>
    <tr>
        <td>
            <label for="currency">currency (ex:USD,JPY)通貨</label>
        </td> <td>
            <input type="text" name="currency">
        </td>
    </tr>
    <tr>
        <td>
            <label for="exchange">exchange (ex:NYSE Arca) 上場取引所</label>
        </td> <td>
            <input type="text" name="exchange">
        </td>
    </tr>
    <tr>
        <td>
        </td> <td>
            <input type="submit">
        </td>
    </tr>
</table>

{% endblock %}